.page-content{
    
    .catalog-footer{
        
        font-size: 1.2rem;
        
        span.page-next,
        span.page-prev,
        span.page-last,
        span.page-first,
        span.page-link{
            font-size: 1.2rem;
            padding: 5px 8px;
            border: 1px solid;
            border-color: #231f20;
            margin: 0 5px;
            cursor: pointer;
            margin-top: -5px;
        }
        :hover,
        :active{
            background-color: #231f20;
            
            a{
                color: white;
            }
        }
        .page-current{
            background-color: #231f20;
            color: white;
            cursor: pointer;
        }
    }    
}
